@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F49FA2;
  overflow-x: hidden;
}
body *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.youtube_iframe {
  top: 50%;
  left: 50%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: scale-down;
  position: absolute;
  border-radius: 0.3rem;
  transform: translate(-50%, -50%);
}